@charset "uft-8";

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

body{
    background-color: #eaeaea;
    
}
header{
    width: 100%;
    height: 50px;
}

.main_head {
    margin: 0 auto;
    width: 100%;
    z-index: 999;
    height: 50px;
    background: #111;
    line-height: 50px;

}

.main_inner {
    width: 980px;
    height: 50px;
    margin: 0 auto;
}

.main_logo {
    color: aliceblue !important; 
    height: 50px;
    font-family: "proxima Nova", Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    width: 200px;
    outline: none;
    font-size: 24px;
}

.main_gallery {
    color: aliceblue;
    text-decoration-line: none;
    margin-left: 30px;
}

.main_gallery:hover {
    background-color: aliceblue;
    color: #111;
}

.main_search_inner {
    text-align:center;
}

.main_search {
    display:inline-block;
    text-shadow: none;
    margin-left: 290px;
    height: 30px;
    width: 200px;
    color: grey;
    padding-top: 5px;
    text-align: center;
}

.login {
    color: aliceblue;
    text-decoration-line: none;
    margin-left: 30px;
}

.login:hover {
    background-color: aliceblue;
    color: #111;
}

.textcreator_filed {
    width: 980px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.textfiled {
    width: 900px;
    height: 40px;
    text-align: center;
    margin-left: 40px;
    margin-top: 40px;
}

.container {
    margin-top: 100px;
}

.input {
    margin: 3px;
}